body {
    background-color: rgb(255, 255, 255);
}
h1
    {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 60px;
    margin: 20px;
    margin-left: 0;
}
div {
    float: left;
    display: inline-block;
    background-color: rgb(71, 71, 71);
    /*outline: 1px solid green;*/
    width: 100px;
    line-height: 55px;
}
.a {
    color: transparent;
    width: 900px;
}
a{
    /*outline: 1px solid red;*/
    display: block;
    text-decoration: none;
    text-align: center;
    font-family: 'PT Serif', serif;
    font-size: 20px;
    color: white;
}
div:hover{
    background-color: #f9a91a;
}
a:hover {
    color: #000;
}