body {
    background-color: rgb(255, 255, 255);
}
h1
    {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 60px;
    margin: 20px;
    margin-left: 0;
}
div{
    background-color: rgba(83, 83, 83, 0.815);
    float: left;
    width: 100px;
    text-align: center;
    line-height: 50px;
    font-family: 'PT Serif', serif;
    font-size: 20px;
}
a{
    display: block;
    text-decoration: none;
    color: white;
}
.a{
    color: transparent;
    width: 400px;
}
div :hover{
    background-color: #f9a91a;
}
a:hover{
    color: black;
}